<div class="menu-principal">

  <h1>Contenido</h1>
  <hr>

  <h4>Front-End</h4>
  <div class="list-group">
    <div class="list-group-item list-group-item-action" href="#front-end">
      <h6>HTML</h6>
    </div>
    <div (click)="btnAbrirTypescript()" class="list-group-item list-group-item-action">
      <h6>TYPESCRIPT</h6>
    </div>
    <div class="list-group-item list-group-item-action" href="#qa">
      <h6>CSS</h6>
    </div>
  </div>

  <h4>Back-End</h4>
  <div class="list-group">
    <div class="list-group-item list-group-item-action" href="#front-end">
      <h6>MongoDB</h6>
    </div>
  </div>

  <h4>QA</h4>
  <div class="list-group">
    <div class="list-group-item list-group-item-action" href="#front-end">
      <h6>Conceptos Básicos</h6>
    </div>
  </div>

</div>
