html{
    background-color: #060609;
    margin: -1%;
}
.cuerpo-principal {
    background: #897088;
    margin-left: 38%;
    padding: 3%;
}
.menu-lateral {
    background-color: #060609;
    color: #d7d6ee; /* color texto */
    font-size: 1.2em;
    width: 35%;
    height: 100%;
    top:0; /* pegada arriba*/
    left: 0; /* pegada a la derecha*/
    position: fixed; /* posición fija */
    padding-left: 3%;
    padding-right: 2%;
}
footer{
    color: azure;
    text-align: right;
    width: 99%;
    position: fixed;
    bottom: 1%;
}
