html{
 background: #160f15;
}
body {
    display: flex;
    flex-direction: row;
    width: 100%;
} 
#cuerpo-principal {
    width: 75%;
    left: 35%;
}
header {
    width: 34%;
    font-size: larger;
    background: #060609;
    color: #d7d6ee; /* color texto */
    height: 100%; /* altura completa */
    left: 1%; /* pegada a la izquierda */
    position: fixed; /* posición fija */
}
footer{
    color: azure;
    text-align: right;
    width: 99%;
    position: fixed;
    bottom: 1%;
}
