body{
    margin: 0%;
    padding: 0%;
}
@media (max-width: 500px) and (min-width: 5px){
   .menu-lateral{
        font-size: 0.55rem;
    } 
}
.cuerpo-principal {
    float: right;
    width: 71%;
    margin: 0;
    padding: 1%;
}
.menu-lateral {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #060609;
    margin: 0;
    padding: 1%;
    color: #d7d6ee; /* color texto */
    position: fixed; /* posición fija */
}
.menu-lateral a{
    color:#d7d6ee;
    text-decoration: none;
}
.menu-lateral a:hover {
    text-decoration: underline;
}
.menu-lateral a:focus {
    text-decoration: underline;
}
footer{
    text-align: right;
    width: 98%;
    position: fixed;
    bottom: 3%;
}
